@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 90px;
    font-style: normal;
}

.judul {
    font-family: "Trocchi", serif;
    font-size: 80px;
    font-weight: bold;
}

.kedua {
    font-family: "Trocchi", serif;
    font-size: 40px;
}

.image-content {
    flex: 1;
}

.hero-image {
    max-width: 450px;
    width: 100%;
}

/* Responsiveness */
@media (max-width: 768px) {
    .text-content {
        margin-left: 20px;
    }

    .judul {
        font-size: 40px;
    }

    .kedua {
        font-size: 20px;
    }

    .hero-image {
        max-width: 100%;
    }
}
