@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');


.text-content {
    flex: 1;
    display: flex;
    flex-direction: column; /* Mengatur tata letak ke vertikal */
    align-items: flex-start;
    flex: 1;
    margin-left: 90px;
    font-style: normal;
}

.judul {
    font-family: "Trocchi", serif;
    font-size: 80px;
    font-weight: bold;
}

.kedua {
    font-family: "Trocchi", serif;
    font-size: 40px;
}

.image-content {
    flex: 1;
}

.hero-image {
    max-width: 450px;
    /* Atur lebar maksimum gambar */
    width: 100%;
    /* Agar gambar responsif */
}